{% extends 'base2.html' %}

{% block header %}
  <h1><p style="text-align:center">{% block title %}Banner{% endblock %}</p></h1>
{% endblock %}


{% block content %}
  <form method="post">
    <!-- <input type="search" name="search" id="search_bar" required> -->
    <!-- <input type="submit" value="Search"> -->
	<div class="cntr">
		<div class="cntr-innr">
		  <label class="search" for="inpt_search">
				<input type="search" name="search" id="search_bar" required />
			</label>
		</div>
	</div>
  </form>
  <div class=search_results>
	{% if results != [] %}
		{% for i in results %}
				<div class="rectangle">
					<form method="post">
						<input type="submit" class="cssbutton" value="Learn More" name="search">
					</form>
					<header>{{search_list[i][-2]}}</header>
					<p>Privacy: <font size="+2"><b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{search_list[i][0].upper()}}</b></font></p>
					<p>Readability: <font size="+2"><b>&nbsp;&nbsp;&nbsp;{{search_list[i][1].upper()}}</b></font></p>
					<svg class="visual" width="150" height="150">
						<image height="150" width="150" href={{search_list[i][-1]}}></image>
					</svg>
					
				</div>
				
				<!-- <style>
				@keyframes open_rest {
					0%   { left:0px; top:0px;}
					100%  { left:-300px; top:0px;}
					
				}
				#this_box {
					animation-name: open_rest;
					animation-duration: 1s;
					position: relative;
					animation-fill-mode: forwards;
				}
				
				</style> -->
	
		{% endfor %}
	{% endif %}
			</div>



{% endblock %}


