<!doctype html>
<title>{% block title %}{% endblock %} Yu's website



</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body>
<div>
<img src="/static/header.png" alt="User Image" style="width=110%">
</div>
<div class="container">
        
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('web.realhome') }}">Home</a></li>
            <li><a href="{{ url_for('web.home') }}">Search</a></li>
          </ul>
        </nav></strong>
      </div>

<nav>
  <h1>Yu's website</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>


</body>