<!doctype html>
<title>{% block title %}{% endblock %} Yu's website



</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<body>
  <div class="menu-outer">
    <div class="header-text">
      <img src="/static/logo_and_font.png" alt="logo" style="width: 40%; height: 60%">
    </div>
    <div class="table">
      <ul id="horizontal-list">
        <li><a href="{{ url_for('web.realhome') }}">Home</a></li>
        <li><a href="{{ url_for('web.home') }}">Search</a></li>
      </ul>
    </div>
  </div>
  <section class="content" style="background-color:#37c5ec; height: 100vh">
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>